<!-- Include layoutHead -->
<%- include('../partials/_layoutHead')%>
<!-- /Include layoutHead -->



<!-- include Header -->
    <%- include('../partials/_header')%>
<!-- include Header -->


<!-- include single page header -->
<%- include('../partials/_header2')%>
<!--/include single page header -->

 

<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="fas fa-check-circle order-success-icon display-1 text-primary"></i>
                <h1 class="display-1"></h1>
                <h1 class="mb-4">Order Successful!</h1>
                <p class="mb-4">Thank you for your order. Your order has been successfully placed.</p>
                <div class="d-md-flex justify-content-center">
                    <a class="btn btn-primary rounded-pill py-3 px-5 m-3 text-light" href="/">Continue Shopping</a>
                    <a id="btn-track-order" class="btn border-secondary rounded-pill py-3 px-5 m-3" href="#" onclick="showOrderDetails()">Track Your Order</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Order details -->
<div class="container py-5" id="order-details" style="display: none;">
    <div class="row">
        <!-- Order Details and Shipping Address -->
        <div class="order-details col-md-12 col-lg-6 col-xl-5">
            <div class="mb-3">
                <h2 class="my-3">Order Details</h2>
                <p><strong>Order ID:</strong> <span id="orderId" class="mx-2">5001</span></p>
                <p><strong>Username:</strong> <span id="username" class="mx-2">Muhammed Ajmal</span></p>
            </div>
            <div class="mb-3">
                <p><strong>Payment Method:</strong> <span id="paymentMethod" class="mx-2">Cash On Delivery</span></p>
                <p><strong>Order Date:</strong> <span id="orderDate" class="mx-2">17/02/2001</span></p>
            </div>
            <div class="my-4">
                <h3 class="my-5">Shipping Address</h3>
                <div class="border py-5">
                    <p><span id="shippingAddress"></span></p>
                </div>
                
            </div>
        </div>
        
        <!-- Product Tables and Prices -->
        <div class="col-md-12 col-lg-6 col-xl-7 mt-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                            <th scope="col">Products</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="img/vegetable-item-2.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </th>
                            <td class="py-5">Awesome Brocoli</td>
                            <td class="py-5">$69.00</td>
                            <td class="py-5">2</td>
                            <td class="py-5">$138.00</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="img/vegetable-item-5.jpg" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </th>
                            <td class="py-5">Potatoes</td>
                            <td class="py-5">$69.00</td>
                            <td class="py-5">2</td>
                            <td class="py-5">$138.00</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="d-flex align-items-center mt-2">
                                    <img src="img/vegetable-item-3.png" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                </div>
                            </th>
                            <td class="py-5">Big Banana</td>
                            <td class="py-5">$69.00</td>
                            <td class="py-5">2</td>
                            <td class="py-5">$138.00</td>
                        </tr>
                        <tr>
                            <th scope="row">
                            </th>
                            <td class="py-5"></td>
                            <td class="py-5"></td>
                            <td class="py-5">
                                <p class="mb-0 text-dark py-3">Subtotal</p>
                            </td>
                            <td class="py-5">
                                <div class="py-3 border-bottom border-top">
                                    <p class="mb-0 text-dark">$414.00</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            </th>
                            <td class="py-5">
                                <p class="mb-0 text-dark py-4">Shipping</p>
                            </td>
                            <td colspan="3" class="py-5">
                                <div class="form-check text-start">
                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-1" name="Shipping-1" value="Shipping">
                                    <label class="form-check-label" for="Shipping-1">Free Shipping</label>
                                </div>
                                <div class="form-check text-start">
                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-2" name="Shipping-1" value="Shipping">
                                    <label class="form-check-label" for="Shipping-2">Flat rate: $15.00</label>
                                </div>
                                <div class="form-check text-start">
                                    <input type="checkbox" class="form-check-input bg-primary border-0" id="Shipping-3" name="Shipping-1" value="Shipping">
                                    <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                            </th>
                            <td class="py-5">
                                <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                            </td>
                            <td class="py-5"></td>
                            <td class="py-5"></td>
                            <td class="py-5">
                                <div class="py-3 border-bottom border-top">
                                    <p class="mb-0 text-dark">$135.00</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Include Footer -->
<%- include('../partials/_footer')%>
<!-- /Include Footer -->


<script>
    function showOrderDetails () {
    var orderDetails = document.getElementById('order-details');
    var trackOrderBtn = document.getElementById('btn-track-order');
    
    if (orderDetails.style.display === 'block') {
        // Hide order details
        orderDetails.style.display = 'none';
        trackOrderBtn.textContent = 'Track Your Order';
    } else {
        // Show order details
        orderDetails.style.display = 'block';
        trackOrderBtn.textContent = 'Hide Order Details';
    }
}
</script>

 <!-- Include layoutFoot -->
 <%- include('../partials/_layoutFoot')%>
 <!-- /Include layoutFoot -->