

        <!-- Include layoutHead -->
        <%- include('../partials/_layoutHead')%>
        <!-- /Include layoutHead -->



        <!-- include Header -->
            <%- include('../partials/_header')%>
        <!-- include Header -->

 
            
        <!-- include single page header -->
        <%- include('../partials/_header2')%>
        <!--/include single page header -->


<!-- Shop category Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="fruits">Sort By Price:</label>
                            <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                                <option value="volvo">Nothing</option>
                                <option value="saab">High to Low</option>
                                <option value="opel">Low to High</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="/shop"><i class="fas fa-apple-alt me-2"></i>All products</a>
                                            </div>
                                        </li>
                                        <% Categories.forEach(item => { %>
                                            <li class="my-3">
                                                <div class="form-check text-start">
                                                    <input type="checkbox" class="form-check-input bg-primary border-0 category-checkbox" id="<%= item.category %>" name="categories" value="<%= item.category %>" <%= req.query.categories && req.query.categories.includes(item.category) ? 'checked' : '' %>>
                                                    <label class="form-check-label text-primary" for="<%= item.category %>"><i class="me-2 text-primary"></i><%= item.category %></label>
                                                </div>
                                            </li>
                                        <% }) %>
                                        <div class="d-flex justify-content-between fruite-name mt-2">
                                            <h6 class="fw-bold me-2">Total Products</h6>
                                            <span>(<%= Products.length %>)</span>
                                        </div>
                                    </ul>
                                    
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="users/img/featur-1.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <% feauturedProducts.forEach(item => { %>
                                    <a href="/shop-details?id=<%= item._id %>" class="text-decoration-none">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="rounded me-4" style="width: 100px; height: 100px;">
                                                <img src="<%= item.imageUrl %>" class="img-fluid rounded" alt="" style="width: 80px; height: 80px;">
                                            </div>
                                            <div>
                                                <h6 class="mb-2"><%= item.name %></h6>
                                                <div class="d-flex mb-2">
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star text-secondary"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="d-flex mb-2">
                                                    <h5 class="fw-bold me-2">₹ <%= item.sellingPrice %></h5>
                                                    <h5 class="text-danger text-decoration-line-through">₹ <%= item.mrp %></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                <% }) %>
                                <div class="d-flex justify-content-center my-4">
                                    <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="users/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div id="products-container" class="row g-4 justify-content-center">
                            <!-- <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <img src="users/img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">Fruits</div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>Grapes</h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                                            <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <% Products.forEach(item => { %>
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <a href="/shop-details?id=<%= item._id %>" class="text-decoration-none">
                                        <div class="rounded position-relative fruite-item border border-secondary rounded-bottom">
                                            <div class="fruite-img" style="height: 220px;">
                                                <img src="<%= item.imageUrl %>" class="img-fluid w-100 rounded-top" alt="">
                                            </div>
                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;"><%= item.category %></div>
                                            <div class="p-4">
                                                <h4><%= item.name %></h4>
                                                <p><%= item.description %></p>
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">₹<%= item.sellingPrice %> / kg</p>
                                                    <form onclick="addToCartAlert('<%= item._id %>')">
                                                        <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                            <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }) %>
                            
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a href="#" class="rounded">&laquo;</a>
                                    <a href="#" class="active rounded">1</a>
                                    <a href="#" class="rounded">2</a>
                                    <a href="#" class="rounded">3</a>
                                    <a href="#" class="rounded">4</a>
                                    <a href="#" class="rounded">5</a>
                                    <a href="#" class="rounded">6</a>
                                    <a href="#" class="rounded">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->


<!-- Include Footer -->
<%- include('../partials/_footer')%>
<!-- /Include Footer -->


<script>
    // Get all category checkboxes
    const checkboxes = document.querySelectorAll('.category-checkbox');
    const productsContainer = document.getElementById('products-container');
    
    // Add event listener to each checkbox
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            // Create an array to store selected categories
            const selectedCategories = [];

            // Iterate through checkboxes to find checked ones
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    selectedCategories.push(checkbox.value);
                }
            });

            // Make AJAX request using Axios
            axios.get('/filter-category', {
                params: {
                    categories: selectedCategories.join(',')
                }
            })
            .then(response => {
                // Handle response if needed
                console.log(response.data.products);

                const products = response.data.products;
                // Clear previous products in the container
                productsContainer.innerHTML = '';

                // Iterate through the products and create HTML elements for each product
                products.forEach(item => {
                    const productElement = `
                        <div class="col-md-6 col-lg-6 col-xl-4">
                            <a href="/shop-details?id=${item._id}" class="text-decoration-none">
                                <div class="rounded position-relative fruite-item border border-secondary rounded-bottom">
                                    <div class="fruite-img" style="height: 220px;">
                                        <img src="${item.imageUrl}" class="img-fluid w-100 rounded-top" alt="">
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">${item.category}</div>
                                    <div class="p-4">
                                        <h4>${item.name}</h4>
                                        <p>${item.description}</p>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0">₹${item.sellingPrice} / kg</p>
                                            <form onclick="addToCartAlert('${item._id}')">
                                                <button type="submit" class="btn border border-secondary rounded-pill px-3 text-primary">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    `;
                    // Append the product element to the container
                    productsContainer.innerHTML += productElement;
                });
            })
            .catch(error => {
                // Handle error if needed
                console.error(error);
            });
        });
    });
</script>


 <!-- Include layoutFoot -->
 <%- include('../partials/_layoutFoot')%>
 <!-- /Include layoutFoot -->
