

<!-- Include sidebar -->
<%- include('../partials/_sidebar.ejs')%>
<!-- /Include sidebar -->


	<!-- CONTENT -->
	<section id="content">
		
		
		<!-- include NAVBAR -->
		<%- include('../partials/_navbar.ejs')%>
		<!-- include NAVBAR -->


		<!-- MAIN -->

        
        
        <main>
            <div class="container">
                
                    <!-- include HEAD TITLE -->
                    <%- include('../partials/_headTitle.ejs')%>
                    <!-- /include HEAD TITLE -->


                    <a class="btn-download" data-bs-toggle="modal" data-bs-target="#addCouponModal">
                        <span class="text mx-md-2">Add Coupon</span>
                    </a>
                </div>
            
                <!-- Add Coupon Button -->
                
                <!-- Coupon Table -->
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-3">
                    <!-- Coupon Cards -->
                    <% Coupon.forEach(item => { %>
                        <div class="col">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-success mb-3"><%= item.couponName %></h5>
                                    <p class="card-text">
                                        <span class="text-bold text-dark font-monospace">Coupon Code :</span> <span class="text-secondary"><%= item.couponCode %></span>
                                    </p>
                                    <p class="card-text">
                                        <span class="text-bold text-dark font-monospace">Discount :</span> <span class="text-secondary"><%= item.discount %>%</span>
                                    </p>
                                    <p class="card-text">
                                        <span class="text-bold text-dark font-monospace">Max Price Offer :</span> <span class="text-secondary">₹<%= item.maxPriceOffer %></span>
                                    </p>
                                    <p class="card-text">
                                        <span class="text-bold text-dark font-monospace">Start Date :</span> <span class="text-secondary"><%= item.startDate %></span>
                                    </p>
                                    <p class="card-text">
                                        <span class="text-bold text-dark font-monospace">End Date :</span> <span class="text-secondary"><%= item.endDate %> %></span>
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-warning me-2" style="width: 100px;">
                                            Update
                                        </button>
                                        <button type="button" class="btn btn-danger" style="width: 100px;">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    <% }) %>           
                </div>
            </div>
            
            <!-- Add Coupon Modal -->
            <div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="addCouponModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCouponModalLabel">Add Coupon</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form for adding a coupon -->
                            <form action="/admin/createCoupon" method="post">
                                <div class="mb-3">
                                    <label for="couponName" class="form-label">Coupon Name:</label>
                                    <input type="text" class="form-control" id="couponName" name="couponName" required>
                                </div>
                                <div class="mb-3">
                                    <label for="couponCode" class="form-label">Coupon Code:</label>
                                    <input type="text" class="form-control" id="couponCode" name="couponCode">
                                </div>
                                <div class="mb-3">
                                    <label for="startDate" class="form-label">Start Date:</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate">
                                </div>
                                <div class="mb-3">
                                    <label for="endDate" class="form-label">End Date:</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate">
                                </div>
                                <div class="mb-3">
                                    <label for="discount" class="form-label">Discount:</label>
                                    <input type="text" class="form-control" id="discount" name="discount">
                                </div>
                                <div class="mb-3">
                                    <label for="maxPriceOffer" class="form-label">Max Price Offer:</label>
                                    <input type="text" class="form-control" id="maxPriceOffer" name="maxPriceOffer">
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Add Coupon
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        

        <!-- /MAIN -->
          


    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
	<script src="/admin/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>