
<!-- Include sidebar -->
<%- include('../partials/_sidebar.ejs')%>
<!-- /Include sidebar -->


	<!-- CONTENT -->
	<section id="content">
		
		
		<!-- include NAVBAR -->
		<%- include('../partials/_navbar.ejs')%>
		<!-- include NAVBAR -->


		<!-- MAIN -->

<!-- NOTIFICATION BALLOON -->
<div id="notificationBalloon" class="notification-balloon">
    <span class="notification-content"><ul>
      <li>notification 1</li>
      <li>notification 1</li>
      <li>notification 1</li>
    </ul></span>
  </div>
		
	<!-- PRODUCT ADDING PAGE -->

<main>
    <!-- include HEAD TITLE -->
<%- include('../partials/_headTitle.ejs')%>
<!-- /include HEAD TITLE -->   
</div>
</main>

<section class="container product-adding-page mt-5">

  <div class="container">
    
    <!-- Orders Table -->
    <div class="table-responsive my-3">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th class="py-3">Order ID</th>
                    <th class="py-3">Customer Name</th>
                    <th class="py-3">Order Date</th>
                    <th class="py-3">Total Amount</th>
                    <th class="py-3">Status</th>
                    <th class="py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                <% Orders.forEach(item => { %>
                    <tr>
                        <td><%= item.orderId %></td>
                        <td><%= item.user %></td>
                        <td><%= item.orderDate.toISOString().substring(0, 10) %></td>
                        <td>₹ <%= item.finalAmount %></td>
                        <td>
                            <span class="btn text-light <%= (item.status === 'Pending') ? 'bg-warning' :
                                                  (item.status === 'Cancelled') ? 'bg-danger' :
                                                  (item.status === 'Placed') ? 'bg-secondary' :
                                                  (item.status === 'Shipped') ? 'bg-primary bg-gradient' :
                                                  (item.status === 'Out For Delivery') ? 'bg-primary' :
                                                  (item.status === 'Delivered') ? 'bg-success' : '' %>"
                                                  style="font-size: 12px;">
                                <%= item.status %>
                            </span>
                        </td>
                        <td>
                            <form action="/admin/order-details" method="GET">
                                <input type="hidden" name="id" value="<%= item._id %>">
                                <button type="submit" class="btn btn-info px-3"><i class="bi bi-eye text-light"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>


		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	


	<script src="/admin/js/script.js"></script>    
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>